<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="subject">
        <h2 class="jh-entity-heading" data-cy="subjectDetailsHeading">
          <span v-text="$t('ecmsApp.subject.detail.title')">Subject</span> {{ subject.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('ecmsApp.subject.name')">Name</span>
          </dt>
          <dd>
            <span>{{ subject.name }}</span>
          </dd>
          <dt>
            <span v-text="$t('ecmsApp.subject.description')">Description</span>
          </dt>
          <dd>
            <span>{{ subject.description }}</span>
          </dd>
          <dt>
            <span v-text="$t('ecmsApp.subject.logo')">Logo</span>
          </dt>
          <dd>
            <div v-if="subject.logo">
              <a v-on:click="openFile(subject.logoContentType, subject.logo)">
                <img
                  v-bind:src="'data:' + subject.logoContentType + ';base64,' + subject.logo"
                  style="max-width: 100%"
                  alt="subject image"
                />
              </a>
              {{ subject.logoContentType }}, {{ byteSize(subject.logo) }}
            </div>
          </dd>
          <dt>
            <span v-text="$t('ecmsApp.subject.uploads')">Uploads</span>
          </dt>
          <dd>
            <span v-for="(uploads, i) in subject.uploads" :key="uploads.id"
              >{{ i > 0 ? ', ' : '' }}
              <router-link :to="{ name: 'UploadView', params: { uploadId: uploads.id } }">{{ uploads.id }}</router-link>
            </span>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="subject.id" :to="{ name: 'SubjectEdit', params: { subjectId: subject.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./subject-details.component.ts"></script>
