<template>
  <div>
    <h2 id="page-heading" data-cy="SubjectHeading">
      <span v-text="$t('ecmsApp.subject.home.title')" id="subject-heading">Subjects</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('ecmsApp.subject.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'SubjectCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-subject"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('ecmsApp.subject.home.createLabel')"> Create a new Subject </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && subjects && subjects.length === 0">
      <span v-text="$t('ecmsApp.subject.home.notFound')">No subjects found</span>
    </div>
    <div class="table-responsive" v-if="subjects && subjects.length > 0">
      <table class="table table-striped" aria-describedby="subjects">
        <thead>
          <tr>
            <th scope="row"><span v-text="$t('global.field.id')">ID</span></th>
            <th scope="row"><span v-text="$t('ecmsApp.subject.name')">Name</span></th>
            <th scope="row"><span v-text="$t('ecmsApp.subject.description')">Description</span></th>
            <th scope="row"><span v-text="$t('ecmsApp.subject.logo')">Logo</span></th>
            <th scope="row"><span v-text="$t('ecmsApp.subject.uploads')">Uploads</span></th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="subject in subjects" :key="subject.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'SubjectView', params: { subjectId: subject.id } }">{{ subject.id }}</router-link>
            </td>
            <td>{{ subject.name }}</td>
            <td>{{ subject.description }}</td>
            <td>
              <a v-if="subject.logo" v-on:click="openFile(subject.logoContentType, subject.logo)">
                <img
                  v-bind:src="'data:' + subject.logoContentType + ';base64,' + subject.logo"
                  style="max-height: 30px"
                  alt="subject image"
                />
              </a>
              <span v-if="subject.logo">{{ subject.logoContentType }}, {{ byteSize(subject.logo) }}</span>
            </td>
            <td>
              <span v-for="(uploads, i) in subject.uploads" :key="uploads.id"
                >{{ i > 0 ? ', ' : '' }}
                <router-link class="form-control-static" :to="{ name: 'UploadView', params: { uploadId: uploads.id } }">{{
                  uploads.id
                }}</router-link>
              </span>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'SubjectView', params: { subjectId: subject.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'SubjectEdit', params: { subjectId: subject.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(subject)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="ecmsApp.subject.delete.question" data-cy="subjectDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-subject-heading" v-text="$t('ecmsApp.subject.delete.question', { id: removeId })">
          Are you sure you want to delete this Subject?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-subject"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeSubject()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./subject.component.ts"></script>
