<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="ecmsApp.subject.home.createOrEditLabel"
          data-cy="SubjectCreateUpdateHeading"
          v-text="$t('ecmsApp.subject.home.createOrEditLabel')"
        >
          Create or edit a Subject
        </h2>
        <div>
          <div class="form-group" v-if="subject.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="subject.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('ecmsApp.subject.name')" for="subject-name">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="subject-name"
              data-cy="name"
              :class="{ valid: !$v.subject.name.$invalid, invalid: $v.subject.name.$invalid }"
              v-model="$v.subject.name.$model"
              required
            />
            <div v-if="$v.subject.name.$anyDirty && $v.subject.name.$invalid">
              <small class="form-text text-danger" v-if="!$v.subject.name.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('ecmsApp.subject.description')" for="subject-description">Description</label>
            <input
              type="text"
              class="form-control"
              name="description"
              id="subject-description"
              data-cy="description"
              :class="{ valid: !$v.subject.description.$invalid, invalid: $v.subject.description.$invalid }"
              v-model="$v.subject.description.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('ecmsApp.subject.logo')" for="subject-logo">Logo</label>
            <div>
              <img
                v-bind:src="'data:' + subject.logoContentType + ';base64,' + subject.logo"
                style="max-height: 100px"
                v-if="subject.logo"
                alt="subject image"
              />
              <div v-if="subject.logo" class="form-text text-danger clearfix">
                <span class="pull-left">{{ subject.logoContentType }}, {{ byteSize(subject.logo) }}</span>
                <button
                  type="button"
                  v-on:click="clearInputImage('logo', 'logoContentType', 'file_logo')"
                  class="btn btn-secondary btn-xs pull-right"
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                </button>
              </div>
              <input
                type="file"
                ref="file_logo"
                id="file_logo"
                data-cy="logo"
                v-on:change="setFileData($event, subject, 'logo', true)"
                accept="image/*"
                v-text="$t('entity.action.addimage')"
              />
            </div>
            <input
              type="hidden"
              class="form-control"
              name="logo"
              id="subject-logo"
              data-cy="logo"
              :class="{ valid: !$v.subject.logo.$invalid, invalid: $v.subject.logo.$invalid }"
              v-model="$v.subject.logo.$model"
            />
            <input
              type="hidden"
              class="form-control"
              name="logoContentType"
              id="subject-logoContentType"
              v-model="subject.logoContentType"
            />
          </div>
          <div class="form-group">
            <label v-text="$t('ecmsApp.subject.uploads')" for="subject-uploads">Uploads</label>
            <multiselect
              v-model="subject.uploads"
              :options="uploads"
              :multiple="true"
              :close-on-select="false"
              :clear-on-select="false"
              :preserve-search="true"
              placeholder="Pick some"
              label="filename"
              track-by="id"
              :preselect-first="false"
            >
              <template slot="selection" slot-scope="{ values, isOpen }">
                <span class="multiselect__single" v-if="values.length && !isOpen">{{ values.length }} options selected</span>
              </template>
            </multiselect>
          </div>
          <!--<div class="form-group">
            <label v-text="$t('ecmsApp.subject.groups')" for="subject-groups">Uploads</label>
            <multiselect
              v-model="subject.groups"
              :options="groups"
              :multiple="true"
              :close-on-select="false"
              :clear-on-select="false"
              :preserve-search="true"
              placeholder="Pick some"
              label="name"
              track-by="id"
              :preselect-first="false"
            >
              <template slot="selection" slot-scope="{ values, search, isOpen }">
                <span class="multiselect__single" v-if="values.length && !isOpen">{{ values.length }} options selected</span>
              </template>
            </multiselect>
          </div>-->
        </div>
        <div>
          <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.subject.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./subject-update.component.ts"></script>
