<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="testing">
        <h2 class="jh-entity-heading" data-cy="testingDetailsHeading">
          <span v-text="$t('ecmsApp.testing.detail.title')">Testing</span> {{ testing.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('ecmsApp.testing.title')">Title</span>
          </dt>
          <dd>
            <span>{{ testing.title }}</span>
          </dd>
          <dt>
            <span v-text="$t('ecmsApp.testing.description')">Description</span>
          </dt>
          <dd>
            <span>{{ testing.description }}</span>
          </dd>
          <dt>
            <span v-text="$t('ecmsApp.testing.url')">Url</span>
          </dt>
          <dd>
            <span>{{ testing.url }}</span>
          </dd>
          <dt>
            <span v-text="$t('ecmsApp.testing.subject')">Subject</span>
          </dt>
          <dd>
            <div v-if="testing.subject">
              <router-link :to="{ name: 'SubjectView', params: { subjectId: testing.subject.id } }">{{ testing.subject.id }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('ecmsApp.testing.uploads')">Uploads</span>
          </dt>
          <dd>
            <span v-for="(uploads, i) in testing.uploads" :key="uploads.id"
              >{{ i > 0 ? ', ' : '' }}
              <router-link :to="{ name: 'UploadView', params: { uploadId: uploads.id } }">{{ uploads.id }}</router-link>
            </span>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="testing.id" :to="{ name: 'TestingEdit', params: { testingId: testing.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./testing-details.component.ts"></script>
