<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="ecmsApp.testing.home.createOrEditLabel"
          data-cy="TestingCreateUpdateHeading"
          v-text="$t('ecmsApp.testing.home.createOrEditLabel')"
        >
          Create or edit a Testing
        </h2>
        <div>
          <div class="form-group" v-if="testing.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="testing.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('ecmsApp.testing.title')" for="testing-title">Title</label>
            <input
              type="text"
              class="form-control"
              name="title"
              id="testing-title"
              data-cy="title"
              :class="{ valid: !$v.testing.title.$invalid, invalid: $v.testing.title.$invalid }"
              v-model="$v.testing.title.$model"
              required
            />
            <div v-if="$v.testing.title.$anyDirty && $v.testing.title.$invalid">
              <small class="form-text text-danger" v-if="!$v.testing.title.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('ecmsApp.testing.description')" for="testing-description">Description</label>
            <input
              type="text"
              class="form-control"
              name="description"
              id="testing-description"
              data-cy="description"
              :class="{ valid: !$v.testing.description.$invalid, invalid: $v.testing.description.$invalid }"
              v-model="$v.testing.description.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('ecmsApp.testing.url')" for="testing-url">Url</label>
            <input
              type="text"
              class="form-control"
              name="url"
              id="testing-url"
              data-cy="url"
              :class="{ valid: !$v.testing.url.$invalid, invalid: $v.testing.url.$invalid }"
              v-model="$v.testing.url.$model"
              required
            />
            <div v-if="$v.testing.url.$anyDirty && $v.testing.url.$invalid">
              <small class="form-text text-danger" v-if="!$v.testing.url.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('ecmsApp.testing.subject')" for="testing-subject">Subject</label>
            <select class="form-control" id="testing-subject" data-cy="subject" name="subject" v-model="testing.subject">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="testing.subject && subjectOption.id === testing.subject.id ? testing.subject : subjectOption"
                v-for="subjectOption in subjects"
                :key="subjectOption.id"
              >
                {{ subjectOption.name }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label v-text="$t('ecmsApp.testing.uploads')" for="testing-uploads">Uploads</label>
            <multiselect
              v-model="testing.uploads"
              :options="uploads"
              :multiple="true"
              :close-on-select="false"
              :clear-on-select="false"
              :preserve-search="true"
              placeholder="Pick some"
              label="filename"
              track-by="id"
              :preselect-first="false"
            >
              <template slot="selection" slot-scope="{ values, isOpen }">
                <span class="multiselect__single" v-if="values.length && !isOpen">{{ values.length }} options selected</span>
              </template>
            </multiselect>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.testing.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./testing-update.component.ts"></script>
