<template>
  <div>
    <h2 id="page-heading" data-cy="TestingHeading">
      <span v-text="$t('ecmsApp.testing.home.title')" id="testing-heading">Testings</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('ecmsApp.testing.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'TestingCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-testing"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('ecmsApp.testing.home.createLabel')"> Create a new Testing </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && testings && testings.length === 0">
      <span v-text="$t('ecmsApp.testing.home.notFound')">No testings found</span>
    </div>
    <div class="table-responsive" v-if="testings && testings.length > 0">
      <table class="table table-striped" aria-describedby="testings">
        <thead>
          <tr>
            <th scope="row"><span v-text="$t('global.field.id')">ID</span></th>
            <th scope="row"><span v-text="$t('ecmsApp.testing.title')">Title</span></th>
            <th scope="row"><span v-text="$t('ecmsApp.testing.description')">Description</span></th>
            <th scope="row"><span v-text="$t('ecmsApp.testing.url')">Url</span></th>
            <th scope="row"><span v-text="$t('ecmsApp.testing.subject')">Subject</span></th>
            <th scope="row"><span v-text="$t('ecmsApp.testing.uploads')">Uploads</span></th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="testing in testings" :key="testing.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'TestingView', params: { testingId: testing.id } }">{{ testing.id }}</router-link>
            </td>
            <td>{{ testing.title }}</td>
            <td>{{ testing.description }}</td>
            <td>{{ testing.url }}</td>
            <td>
              <div v-if="testing.subject">
                <router-link :to="{ name: 'SubjectView', params: { subjectId: testing.subject.id } }">{{ testing.subject.id }}</router-link>
              </div>
            </td>
            <td>
              <span v-for="(uploads, i) in testing.uploads" :key="uploads.id"
                >{{ i > 0 ? ', ' : '' }}
                <router-link class="form-control-static" :to="{ name: 'UploadView', params: { uploadId: uploads.id } }">{{
                  uploads.id
                }}</router-link>
              </span>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'TestingView', params: { testingId: testing.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'TestingEdit', params: { testingId: testing.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(testing)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="ecmsApp.testing.delete.question" data-cy="testingDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-testing-heading" v-text="$t('ecmsApp.testing.delete.question', { id: removeId })">
          Are you sure you want to delete this Testing?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-testing"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeTesting()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./testing.component.ts"></script>
