<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="ecmsApp.upload.home.createOrEditLabel"
          data-cy="UploadCreateUpdateHeading"
          v-text="$t('ecmsApp.upload.home.createOrEditLabel')"
        >
          Create or edit a Upload
        </h2>
        <div>
          <div class="form-group" v-if="upload.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="upload.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('ecmsApp.upload.filename')" for="upload-filename">Filename</label>
            <input
              type="text"
              class="form-control"
              name="filename"
              id="upload-filename"
              data-cy="filename"
              :class="{ valid: !$v.upload.filename.$invalid, invalid: $v.upload.filename.$invalid }"
              v-model="$v.upload.filename.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('ecmsApp.upload.data')" for="upload-data">Data</label>
            <div>
              <div v-if="upload.data" class="form-text text-danger clearfix">
                <a class="pull-left" v-on:click="openFile(upload.dataContentType, upload.data)" v-text="$t('entity.action.open')">open</a
                ><br />
                <span class="pull-left">{{ upload.dataContentType }}, {{ byteSize(upload.data) }}</span>
                <button
                  type="button"
                  v-on:click="
                    upload.data = null;
                    upload.dataContentType = null;
                  "
                  class="btn btn-secondary btn-xs pull-right"
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                </button>
              </div>
              <input
                type="file"
                ref="file_data"
                id="file_data"
                data-cy="data"
                v-on:change="setFileData($event, upload, 'data', false)"
                v-text="$t('entity.action.addblob')"
              />
            </div>
            <input
              type="hidden"
              class="form-control"
              name="data"
              id="upload-data"
              data-cy="data"
              :class="{ valid: !$v.upload.data.$invalid, invalid: $v.upload.data.$invalid }"
              v-model="$v.upload.data.$model"
            />
            <input type="hidden" class="form-control" name="dataContentType" id="upload-dataContentType" v-model="upload.dataContentType" />
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.upload.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./upload-update.component.ts"></script>
