<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="upload">
        <h2 class="jh-entity-heading" data-cy="uploadDetailsHeading">
          <span v-text="$t('ecmsApp.upload.detail.title')">Upload</span> {{ upload.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('ecmsApp.upload.filename')">Filename</span>
          </dt>
          <dd>
            <span>{{ upload.filename }}</span>
          </dd>
          <dt>
            <span v-text="$t('ecmsApp.upload.data')">Data</span>
          </dt>
          <dd>
            <div v-if="upload.data">
              <a v-on:click="openFile(upload.dataContentType, upload.data)" v-text="$t('entity.action.open')">open</a>
              {{ upload.dataContentType }}, {{ byteSize(upload.data) }}
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="upload.id" :to="{ name: 'UploadEdit', params: { uploadId: upload.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./upload-details.component.ts"></script>
