<template>
  <div>
    <h2 id="page-heading" data-cy="UploadHeading">
      <span v-text="$t('ecmsApp.upload.home.title')" id="upload-heading">Uploads</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('ecmsApp.upload.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'UploadCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-upload"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('ecmsApp.upload.home.createLabel')"> Create a new Upload </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && uploads && uploads.length === 0">
      <span v-text="$t('ecmsApp.upload.home.notFound')">No uploads found</span>
    </div>
    <div class="table-responsive" v-if="uploads && uploads.length > 0">
      <table class="table table-striped" aria-describedby="uploads">
        <thead>
          <tr>
            <th scope="row"><span v-text="$t('global.field.id')">ID</span></th>
            <th scope="row"><span v-text="$t('ecmsApp.upload.filename')">Filename</span></th>
            <th scope="row"><span v-text="$t('ecmsApp.upload.data')">Data</span></th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="upload in uploads" :key="upload.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'UploadView', params: { uploadId: upload.id } }">{{ upload.id }}</router-link>
            </td>
            <td>{{ upload.filename }}</td>
            <td>
              <a v-if="upload.data" v-on:click="openFile(upload.dataContentType, upload.data)" v-text="$t('entity.action.open')">open</a>
              <span v-if="upload.data">{{ upload.dataContentType }}, {{ byteSize(upload.data) }}</span>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'UploadView', params: { uploadId: upload.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'UploadEdit', params: { uploadId: upload.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(upload)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="ecmsApp.upload.delete.question" data-cy="uploadDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-upload-heading" v-text="$t('ecmsApp.upload.delete.question', { id: removeId })">
          Are you sure you want to delete this Upload?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-upload"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeUpload()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./upload.component.ts"></script>
