<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="ecmsApp.group.home.createOrEditLabel"
          data-cy="GroupCreateUpdateHeading"
          v-text="$t('ecmsApp.group.home.createOrEditLabel')"
        >
          Create or edit a Group
        </h2>
        <div>
          <div class="form-group" v-if="group.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="group.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('ecmsApp.group.name')" for="group-name">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="group-name"
              data-cy="name"
              :class="{ valid: !$v.group.name.$invalid, invalid: $v.group.name.$invalid }"
              v-model="$v.group.name.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('ecmsApp.group.description')" for="group-description">Description</label>
            <input
              type="text"
              class="form-control"
              name="description"
              id="group-description"
              data-cy="description"
              :class="{ valid: !$v.group.description.$invalid, invalid: $v.group.description.$invalid }"
              v-model="$v.group.description.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('ecmsApp.group.logo')" for="group-logo">Logo</label>
            <div>
              <img
                v-bind:src="'data:' + group.logoContentType + ';base64,' + group.logo"
                style="max-height: 100px"
                v-if="group.logo"
                alt="group image"
              />
              <div v-if="group.logo" class="form-text text-danger clearfix">
                <span class="pull-left">{{ group.logoContentType }}, {{ byteSize(group.logo) }}</span>
                <button
                  type="button"
                  v-on:click="clearInputImage('logo', 'logoContentType', 'file_logo')"
                  class="btn btn-secondary btn-xs pull-right"
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                </button>
              </div>
              <input
                type="file"
                ref="file_logo"
                id="file_logo"
                data-cy="logo"
                v-on:change="setFileData($event, group, 'logo', true)"
                accept="image/*"
                v-text="$t('entity.action.addimage')"
              />
            </div>
            <input
              type="hidden"
              class="form-control"
              name="logo"
              id="group-logo"
              data-cy="logo"
              :class="{ valid: !$v.group.logo.$invalid, invalid: $v.group.logo.$invalid }"
              v-model="$v.group.logo.$model"
            />
            <input type="hidden" class="form-control" name="logoContentType" id="group-logoContentType" v-model="group.logoContentType" />
          </div>
          <div class="form-group">
            <label v-text="$t('ecmsApp.group.uploads')" for="group-uploads">Uploads</label>
            <multiselect
              v-model="group.uploads"
              :options="uploads"
              :multiple="true"
              :close-on-select="false"
              :clear-on-select="false"
              :preserve-search="true"
              placeholder="Pick some"
              label="filename"
              track-by="id"
              :preselect-first="false"
            >
              <template slot="selection" slot-scope="{ values, isOpen }">
                <span class="multiselect__single" v-if="values.length && !isOpen">{{ values.length }} options selected</span>
              </template>
            </multiselect>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('ecmsApp.group.subjects')" for="group-subject">Subject</label>
            <multiselect
              v-model="group.subjects"
              :options="subjects"
              :multiple="true"
              :close-on-select="false"
              :clear-on-select="false"
              :preserve-search="true"
              placeholder="Pick some"
              label="name"
              track-by="id"
              :preselect-first="false"
            >
              <template slot="selection" slot-scope="{ values, isOpen }">
                <span class="multiselect__single" v-if="values.length && !isOpen">{{ values.length }} options selected</span>
              </template>
            </multiselect>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.group.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./group-update.component.ts"></script>
