<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="group">
        <h2 class="jh-entity-heading" data-cy="groupDetailsHeading">
          <span v-text="$t('ecmsApp.group.detail.title')">Group</span> {{ group.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('ecmsApp.group.name')">Name</span>
          </dt>
          <dd>
            <span>{{ group.name }}</span>
          </dd>
          <dt>
            <span v-text="$t('ecmsApp.group.description')">Description</span>
          </dt>
          <dd>
            <span>{{ group.description }}</span>
          </dd>
          <dt>
            <span v-text="$t('ecmsApp.group.logo')">Logo</span>
          </dt>
          <dd>
            <div v-if="group.logo">
              <a v-on:click="openFile(group.logoContentType, group.logo)">
                <img v-bind:src="'data:' + group.logoContentType + ';base64,' + group.logo" style="max-width: 100%" alt="group image" />
              </a>
              {{ group.logoContentType }}, {{ byteSize(group.logo) }}
            </div>
          </dd>
          <dt>
            <span v-text="$t('ecmsApp.group.uploads')">Uploads</span>
          </dt>
          <dd>
            <span v-for="(uploads, i) in group.uploads" :key="uploads.id"
              >{{ i > 0 ? ', ' : '' }}
              <router-link :to="{ name: 'UploadView', params: { uploadId: uploads.id } }">{{ uploads.id }}</router-link>
            </span>
          </dd>
          <dt>
            <span v-text="$t('ecmsApp.group.subjects')">Subjects</span>
          </dt>
          <dd>
            <span v-for="(subjects, i) in group.subjects" :key="subjects.id"
              >{{ i > 0 ? ', ' : '' }}
              <router-link :to="{ name: 'SubjectView', params: { subjectId: subjects.id } }">{{ subjects.id }}</router-link>
            </span>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="group.id" :to="{ name: 'GroupEdit', params: { groupId: group.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./group-details.component.ts"></script>
