<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="post">
        <h2 class="jh-entity-heading" data-cy="postDetailsHeading">
          <span v-text="$t('ecmsApp.post.detail.title')">Post</span> {{ post.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('ecmsApp.post.title')">Title</span>
          </dt>
          <dd>
            <span>{{ post.title }}</span>
          </dd>
          <dt>
            <span v-text="$t('ecmsApp.post.description')">Description</span>
          </dt>
          <dd>
            <span>{{ post.description }}</span>
          </dd>
          <dt>
            <span v-text="$t('ecmsApp.post.visible')">Visible</span>
          </dt>
          <dd>
            <span>{{ post.visible }}</span>
          </dd>
          <dt>
            <span v-text="$t('ecmsApp.post.logo')">Logo</span>
          </dt>
          <dd>
            <div v-if="post.logo">
              <a v-on:click="openFile(post.logoContentType, post.logo)">
                <img v-bind:src="'data:' + post.logoContentType + ';base64,' + post.logo" style="max-width: 100%" alt="post image" />
              </a>
              {{ post.logoContentType }}, {{ byteSize(post.logo) }}
            </div>
          </dd>
          <dt>
            <span v-text="$t('ecmsApp.post.subject')">Subject</span>
          </dt>
          <dd>
            <div v-if="post.subject">
              <router-link :to="{ name: 'SubjectView', params: { subjectId: post.subject.id } }">{{ post.subject.id }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('ecmsApp.post.uploads')">Uploads</span>
          </dt>
          <dd>
            <span v-for="(uploads, i) in post.uploads" :key="uploads.id"
              >{{ i > 0 ? ', ' : '' }}
              <router-link :to="{ name: 'UploadView', params: { uploadId: uploads.id } }">{{ uploads.id }}</router-link>
            </span>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="post.id" :to="{ name: 'PostEdit', params: { postId: post.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./post-details.component.ts"></script>
