<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2 id="ecmsApp.post.home.createOrEditLabel" data-cy="PostCreateUpdateHeading" v-text="$t('ecmsApp.post.home.createOrEditLabel')">
          Create or edit a Post
        </h2>
        <div>
          <div class="form-group" v-if="post.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="post.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('ecmsApp.post.title')" for="post-title">Title</label>
            <input
              type="text"
              class="form-control"
              name="title"
              id="post-title"
              data-cy="title"
              :class="{ valid: !$v.post.title.$invalid, invalid: $v.post.title.$invalid }"
              v-model="$v.post.title.$model"
              required
            />
            <div v-if="$v.post.title.$anyDirty && $v.post.title.$invalid">
              <small class="form-text text-danger" v-if="!$v.post.title.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('ecmsApp.post.description')" for="post-description">Description</label>
            <input
              type="text"
              class="form-control"
              name="description"
              id="post-description"
              data-cy="description"
              :class="{ valid: !$v.post.description.$invalid, invalid: $v.post.description.$invalid }"
              v-model="$v.post.description.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('ecmsApp.post.visible')" for="post-visible">Visible</label>
            <input
              type="checkbox"
              class="form-check"
              name="visible"
              id="post-visible"
              data-cy="visible"
              :class="{ valid: !$v.post.visible.$invalid, invalid: $v.post.visible.$invalid }"
              v-model="$v.post.visible.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('ecmsApp.post.logo')" for="post-logo">Logo</label>
            <div>
              <img
                v-bind:src="'data:' + post.logoContentType + ';base64,' + post.logo"
                style="max-height: 100px"
                v-if="post.logo"
                alt="post image"
              />
              <div v-if="post.logo" class="form-text text-danger clearfix">
                <span class="pull-left">{{ post.logoContentType }}, {{ byteSize(post.logo) }}</span>
                <button
                  type="button"
                  v-on:click="clearInputImage('logo', 'logoContentType', 'file_logo')"
                  class="btn btn-secondary btn-xs pull-right"
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                </button>
              </div>
              <input
                type="file"
                ref="file_logo"
                id="file_logo"
                data-cy="logo"
                v-on:change="setFileData($event, post, 'logo', true)"
                accept="image/*"
                v-text="$t('entity.action.addimage')"
              />
            </div>
            <input
              type="hidden"
              class="form-control"
              name="logo"
              id="post-logo"
              data-cy="logo"
              :class="{ valid: !$v.post.logo.$invalid, invalid: $v.post.logo.$invalid }"
              v-model="$v.post.logo.$model"
            />
            <input type="hidden" class="form-control" name="logoContentType" id="post-logoContentType" v-model="post.logoContentType" />
          </div>
          <!--<div class="form-group">
            <label class="form-control-label" v-text="$t('ecmsApp.post.creator')" for="post-creator">Creator</label>
            <select class="form-control" id="post-creator" data-cy="creator" name="creator" v-model="post.creator">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="post.creator && profileOption.id === post.creator.id ? post.creator : profileOption"
                v-for="profileOption in creators"
                :key="profileOption.id"
              >
                {{ profileOption.id }}
              </option>
            </select>
          </div>-->
          <div class="form-group">
            <label class="form-control-label" v-text="$t('ecmsApp.post.subject')" for="post-subject">Subject</label>
            <select class="form-control" id="post-subject" data-cy="subject" name="subject" v-model="post.subject">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="post.subject && subjectOption.id === post.subject.id ? post.subject : subjectOption"
                v-for="subjectOption in subjects"
                :key="subjectOption.id"
              >
                {{ subjectOption.name }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label v-text="$t('ecmsApp.post.uploads')" for="post-uploads">Uploads</label>
            <multiselect
              v-model="post.uploads"
              :options="uploads"
              :multiple="true"
              :close-on-select="false"
              :clear-on-select="false"
              :preserve-search="true"
              placeholder="Pick some"
              label="filename"
              track-by="id"
              :preselect-first="false"
            >
              <template slot="selection" slot-scope="{ values, isOpen }">
                <span class="multiselect__single" v-if="values.length && !isOpen">{{ values.length }} options selected</span>
              </template>
            </multiselect>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.post.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./post-update.component.ts"></script>
