<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="ecmsApp.profile.home.createOrEditLabel"
          data-cy="ProfileCreateUpdateHeading"
          v-text="$t('ecmsApp.profile.home.createOrEditLabel')"
        >
          Create or edit a Profile
        </h2>
        <div>
          <div class="form-group" v-if="profile.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="profile.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('ecmsApp.profile.status')" for="profile-status">Status</label>
            <select
              class="form-control"
              name="status"
              :class="{ valid: !$v.profile.status.$invalid, invalid: $v.profile.status.$invalid }"
              v-model="$v.profile.status.$model"
              id="profile-status"
              data-cy="status"
              required
            >
              <option value="TEACHER" v-bind:label="$t('ecmsApp.UserStatus.TEACHER')">TEACHER</option>
              <option value="STUDENT" v-bind:label="$t('ecmsApp.UserStatus.STUDENT')">STUDENT</option>
            </select>
            <div v-if="$v.profile.status.$anyDirty && $v.profile.status.$invalid">
              <small class="form-text text-danger" v-if="!$v.profile.status.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('ecmsApp.profile.avatar')" for="profile-avatar">Avatar</label>
            <div>
              <img
                v-bind:src="'data:' + profile.avatarContentType + ';base64,' + profile.avatar"
                style="max-height: 100px"
                v-if="profile.avatar"
                alt="profile image"
              />
              <div v-if="profile.avatar" class="form-text text-danger clearfix">
                <span class="pull-left">{{ profile.avatarContentType }}, {{ byteSize(profile.avatar) }}</span>
                <button
                  type="button"
                  v-on:click="clearInputImage('avatar', 'avatarContentType', 'file_avatar')"
                  class="btn btn-secondary btn-xs pull-right"
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                </button>
              </div>
              <input
                type="file"
                ref="file_avatar"
                id="file_avatar"
                data-cy="avatar"
                v-on:change="setFileData($event, profile, 'avatar', true)"
                accept="image/*"
                v-text="$t('entity.action.addimage')"
              />
            </div>
            <input
              type="hidden"
              class="form-control"
              name="avatar"
              id="profile-avatar"
              data-cy="avatar"
              :class="{ valid: !$v.profile.avatar.$invalid, invalid: $v.profile.avatar.$invalid }"
              v-model="$v.profile.avatar.$model"
            />
            <input
              type="hidden"
              class="form-control"
              name="avatarContentType"
              id="profile-avatarContentType"
              v-model="profile.avatarContentType"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('ecmsApp.profile.user')" for="profile-user">User</label>
            <select class="form-control" id="profile-user" data-cy="user" name="user" v-model="profile.user">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="profile.user && userOption.id === profile.user.id ? profile.user : userOption"
                v-for="userOption in users"
                :key="userOption.id"
              >
                {{ userOption.firstName + ' ' + userOption.lastName }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('ecmsApp.profile.group')" for="profile-group">Group</label>
            <select class="form-control" id="profile-group" data-cy="group" name="group" v-model="profile.group">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="profile.group && groupOption.id === profile.group.id ? profile.group : groupOption"
                v-for="groupOption in groups"
                :key="groupOption.id"
              >
                {{ groupOption.name }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.profile.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./profile-update.component.ts"></script>
