<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="profile">
        <h2 class="jh-entity-heading" data-cy="profileDetailsHeading">
          <span v-text="$t('ecmsApp.profile.detail.title')">Profile</span> {{ profile.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('ecmsApp.profile.status')">Status</span>
          </dt>
          <dd>
            <span v-text="$t('ecmsApp.UserStatus.' + profile.status)">{{ profile.status }}</span>
          </dd>
          <dt>
            <span v-text="$t('ecmsApp.profile.avatar')">Avatar</span>
          </dt>
          <dd>
            <div v-if="profile.avatar">
              <a v-on:click="openFile(profile.avatarContentType, profile.avatar)">
                <img
                  v-bind:src="'data:' + profile.avatarContentType + ';base64,' + profile.avatar"
                  style="max-width: 100%"
                  alt="profile image"
                />
              </a>
              {{ profile.avatarContentType }}, {{ byteSize(profile.avatar) }}
            </div>
          </dd>
          <dt>
            <span v-text="$t('ecmsApp.profile.group')">Group</span>
          </dt>
          <dd>
            <div v-if="profile.group">
              <router-link :to="{ name: 'GroupView', params: { groupId: profile.group.id } }">{{ profile.group.id }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('ecmsApp.profile.user')">User</span>
          </dt>
          <dd>
            {{ profile.user ? profile.user.id : '' }}
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="profile.id" :to="{ name: 'ProfileEdit', params: { profileId: profile.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./profile-details.component.ts"></script>
